/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* css variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondery-font: "Macondo", cursive;
    --primary-color: #4B2A17 /* darkbrown */;
    --secondary-color: #a05a31 /* brown */;
    --highlight-color: #f5894b /* no idea */;
    --highlight-color-light: #f7a16f /* no idea, tint 20% */;
}

/* Global css styles */
body{
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondery-font);
    color: var(--primary-color);
}

.sub-heading-color {
    color: var(--highlight-color);
}

.heading-carousel {
    font-size: 200%;
}


/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 40px;
}

#navbar .logo-text {
    font-family: var(--secondery-font);
    font-size: 123%;
}


/* For small screens */
@media screen and (max-width: 768px) {

    .carousel-caption { bottom: 1%; }
    
    
}
