/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* css variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondery-font: "Macondo", cursive;
    --primary-color: #4B2A17 /* darkbrown */;
    --secondary-color: #a05a31 /* brown */;
    --highlight-color: #f5894b /* no idea */;
    --highlight-color-light: #f7a16f /* no idea, tint 20% */;
}

/* Global css styles */
body{
    font-family: var(--primary-font);
}

h1,
h2 {
    font-family: var(--secondery-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

h3 {
    font-family: var(--secondery-font);
    color: var(--primary-color);
}

.sub-heading-color {
    color: var(--highlight-color);
}

.sub-heading-color-1 {
    color: var(--secondary-color);
}

.heading-carousel {
    font-size: 200%;
}

.p-carousel {
    font-size: 150%;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 40px;
}

#navbar .logo-text {
    font-family: var(--secondery-font);
    font-size: 123%;
}


/* products section */
#products .card {
    border: none;
}

#products h2 {
    margin-bottom: 1rem;
}

#products h3 {
    font-family: var(--secondery-font);
    text-transform: uppercase;
}


#products .card:hover {
    transform: scale(1.05);
}

/* coldmirror video */
#ad h2 {
    margin-bottom: 1rem;
}

/* shop */
#shop h2 {
    margin-bottom: 1rem;
}
/*
#shop shop-cards {
    margin: ;
}
    */


/* footer */
#footer {
    background-color: var(--primary-color);
    color: white;
}

#footer h2 {
    color: white;
    margin-bottom: 1rem;
}

#footer h3 {
    color: var(--highlight-color-light);
}

#footer i {
    color: var(--highlight-color-light);
    font-size: 1.2rem;
    margin-right: 9px;
}

#footer a>i {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 20px;
}

#footer .table-dark * {
    background-color: transparent;
}

/* For small screens */
@media screen and (max-width: 768px) {

    .carousel-caption { bottom: 1%; }

    #products .card {text-align: center;}
    
    /* code from https://www.digital.ink/blog/mobile-responsive-youtube-embeds/ */
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


}
